@page
@using LibraryDB3.Model
@model LibraryDB3.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     @Html.DisplayNameFor(model => model.Book[0].Genre)
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      @foreach (var item in Model.Genre)
                      {
                          <li><a asp-page="./Index" asp-route-genre="@item" class="dropdown-item">@item</a></li>
                      }
                  </ul>
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Bought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookCost)
            </th>
            <th>
                <div class="input-group rounded">
               <form method="get" >
                <input type="search" class="form-control rounded" placeholder="Search Author" aria-label="Search"
                aria-describedby="search-addon" asp-for="searchString" />
             </form>
        </div>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Genre)        
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Bought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
